body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-image: linear-gradient(250deg,#dddbd1,#d2dbdc);
    -webkit-font-smoothing:antialiased;
    -moz-asx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;  
}

.top{
    height: 50%;
    width: 100%;
    background-color: #3F51B5;
    position: fixed;
    z-index: -1;
}

/*Main Div*/
.chatbox{
    height: calc(100% - 40px);
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 0px;
}


/*Profile Pictures*/
.user-profile-pic{
    height: 40px;
    width: 40px;
}

.contact-profile-pic{
    height: 40px;
    width: 40px;
}

.chat-profile-pic{
    height: 40px;
    width: 40px;
}

.user-profile-picture{
    height: 180px;
    width: 180px;
}

/*SearchBar*/
.input-search{
    border-radius: 1rem;
}

.card-search{
    background-color: #F8F8F8;
}

.contact-name{
    font-weight: 300;
}

.contact-last-massage{
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
}

.start-icon{
    margin-top: 30px;
    font-size: 200px;
}



/*--Chat--*/
.chat-recieve{
    background-color: whitesmoke;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 15px;
}

.chat-sent{
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px 15px;
    float: right;
}

.chat-image{
    height: 480px;
    width: 240px;
}

.chat-time{
    font-size: 11px;
    color: gray;
    /*margin-top: 2%;
    margin-left: 1%;*/
}

.chat-image-time{
    font-size: 11px;
    color: gray;
    margin-top: 2%;
    margin-left: 1%;
}

.chat-profile-pic{
    height: 50px;
    width: 50px;
}
/*--Chat--*/

.card{
    height: 94vh;
}

#conversationBody{
    overflow-y: scroll;
    overflow-x: hidden;
}

.login-body{
    height: 30%;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 0px;
}



.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.dropdown-toggle::before{
    display:none !important;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}